{
  "extends": "airbnb",
  "env": {
    "browser": true
  },
  "settings": {
    "emitWarning": true
  },
  "rules": {
    "no-console": "error",
    "react/jsx-filename-extension": [
      0,
      {
        "extensions": [".js", ".jsx"]
      }
    ]
  }
}
